3_EDA_preprocessing/data_home_task/train.csv
3_EDA_preprocessing/data_home_task/.ipynb_checkpoints/
3_EDA_preprocessing/data_home_task/train.rar

6_mlflow/.idea/
6_mlflow/mlartifacts/629574408863152459/models/m-10691564ee704d8ca8ce959e868145d7/artifacts/conda.yaml
6_mlflow/mlartifacts/
6_mlflow/mlruns/
6_streamlit/.idea/
6_ml_system_design/server/.ipynb_checkpoints/
6_ml_system_design/server/__pycache__/
6_ml_system_design/mlruns/
